@use "global.scss" as *;
.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
  // scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #eee;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $mainColor;
    border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #090118;
  }

  > * {
    // width: 100vw;
    // height: calc(100vh - 70px);
    scroll-snap-align: start;
  }
}
