@use "../../global.scss" as *;

.menu {
  width: 250px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  
  &.active {
    right: 0;
  }
  
  @include mobile {
    width:235px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width:100%;
    margin-top: 80px;
    
    li {
      margin-bottom: 25px;
      padding: 10px 0px 10px 30px;
      transition:all 0.5s ease;
      position: relative;

      
      &:hover{
        padding-left:40px;
        font-weight: 500;
      }

      &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #300c76;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateX(-100%);
        transition: all 0.7s ease;
      }
      
      &:hover::before{
        transform: translateX(0);
      } 
      
      .sec-icon{
        display: flex;
        align-items: center;

        .icon{
          font-size: 30px;

          @include mobile {
            font-size: 27px;
          }
        }
              
        .icon-name {
          font-size: 25px;
          color: inherit;
          text-decoration: none;
          margin-left: 13px;
          
          @include mobile {
            font-size: 20px;
          }
        }
      }   
      
      button{
        margin-right:30px;
        font-weight: bold;
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 10px;
        border: 2px solid $mainColor;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        position:relative;
        
          &:hover a{
            color:#fff;
          }
          
          &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateX(-100%);
            transition:all 0.7s ease;
            
        }
        
        &:hover::before{
          background-color: $mainColor;
          transform: translateX(0);
        }
        
        &.active{
          color:#fff;
          border-color:#fff;

          & a{
            color:#fff;
          }
        }

        a{
          text-decoration: none;
          color:black;
        }

        @include mobile {
          width:80%;
          padding: 12px;
        }

      }
    }

    .sp-btn:hover{
      padding: 10px 0px 10px 30px;

      &::before{
        display: none;
      }
    }
  }
}
