@import "../../global.scss";

.topbar {
  width: 100%;
  height: 70px;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 0.8s ease-out;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include tablet {
          display: none;
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right {
      display:flex;
      align-items:center;

      .skills-top{
        font-size: 18px;
        cursor: pointer;
        
        a{
          text-decoration: none;
          color: $mainColor
        }
      }

      .about-top{
        font-size: 18px;
        margin: 0 30px;
        cursor: pointer;

        a{
          text-decoration: none;
          color: $mainColor
        }
      }

      .btn-cont{
        margin-right:30px;
        font-weight: bold;
        padding: 8px 12px;
        border-radius: 10px;
        border: 2px solid $mainColor;
        outline: none;
        cursor: pointer;
        color:$mainColor;
        background-color: transparent;
        position:relative;
        text-decoration: none;
        font-size: 13px;

            &:hover{
            color:#fff;
          }

          &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateX(-100%);
            transition:all 0.7s ease;
            
        }
        
        &:hover::before{
          background-color: $mainColor;
          transform: translateX(0);
        }
        
        &.active{
          color:#fff;
          border-color:#fff;

          & a{
            color:#fff;
          }
        }
      }

      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .right{

      .skills-top,.about-top{
        a{
          color: #fff;
        }
    }

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
    }
  }
}
