@use "../../global.scss" as *;

.portfolio {
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    font-weight: bold;
    color:$mainColor;

    @include mobile {
      font-size: 40px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    letter-spacing: 4px;
    font-weight: 500;

    @include mobile {
      letter-spacing: 3px;
    }

    @include Extramobile {
      letter-spacing: 2px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

    @include mobile {
      width: 100%;
    }
    
    .item {
      width: 400px;
      border-radius: 20px;
      border: 1px solid #f0efef;
      margin: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 80%;
        height: 100%;
      }
      
      h3 {
        position: absolute;
        font-size: 18px;
        text-align: center;
        z-index: -1;
        transition: all 0.1s ease;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 2;
        }
        h3 {
          z-index: 1;
        }
      }
    }
  }

  .skeleton-cu{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0 20px
  }
}
