@use "../../global.scss" as *;

.about-containter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  
      h1 {
        font-size: 50px;
        font-weight: bold;
        color: $mainColor;
        line-height: 50px;
        overflow: hidden;

        @include mobile {
          font-size: 40px;
          line-height: 40px;
        }
      }

  .about {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    @include mobile {
      flex-direction: column;
    }

    .left {
      flex: 1;

      @include mobile {
        text-align: center;
      }

      P {
        font-size: 18px;
        margin: 20px 0;

        @include tablet {
          font-size: 16px;
        }
      }

      a {
        text-decoration: none;
        color: $mainColor;
        font-weight: bold;
      }
    }

    .right {
      flex: 1;

      .image {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
