@use "../../global.scss" as *;

.intro {
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .imgContainer {
      width: 540px;
      height: 540px;
      background-color: $mainColor;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include desktop {
        width: 445px;
        height: 480px;
      }

      @include mobile {
        align-items: flex-start;
        overflow: hidden;
      }

      img {
        height: 100%;
        width: 90%;

        @include desktop {
          height: 95%;
        }

        @include mobile {
          height: 100%;
          margin-top: 30px;
        }
      }
    }
  }

  .right {
    flex: 1;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding: 0;
        margin-top: 40px;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        font-weight: bold;
        color: $mainColor;

        @include desktop {
          font-size: 50px;
        }

        @include tablet {
          font-size: 40px;
        }

        @include minimobile {
          font-size: 30px;
        }
      }

      h2 {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;

        @include tablet {
          font-size: 30px;
        }

        @include minimobile {
          font-size: 16px;
        }
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;

        @include mobile {
          font-size: 20px;
        }

        @include minimobile {
          font-size: 16px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    h4 {
      font-size: 35px;
      font-weight: bold;
      color: $mainColor;

      @include desktop {
        margin-top: 5px;
        font-size: 30px;
      }

      @include mobile {
        font-size: 25px;
      }

      @include minimobile {
        font-size: 16px;
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      @include mobile {
        display: none;
      }

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
