@use "../../../global.scss" as *;

.skill{
     margin-bottom: 20px;

    p{
        margin-bottom: 10px;
    }

    .progress{
        background-color:#ccc3c3;
        height: 15px;
        border-radius: 25px;
        position: relative;

        .p-bar{
            width: 90%;
            height: 100%;
            background-color: $mainColor;
            position: absolute;
        }
    }
}